@model prjSocaWeb.Models.tEmp
@{
    ViewBag.Title = "Edit";
}



<form method="post" action="@Url.Action("Edit")">
    <div class="container mt-3">
        <h2>編輯員工</h2>
        <p><a href="@Url.Action("Index")" class="btn btn-info text-white">回員工表</a></p>
        @Html.HiddenFor(m=>m.Id)
        <div class=" form-control mt-3">
            @Html.LabelFor(m => m.fEmpId)
            @Html.TextBoxFor(m => m.fEmpId, new { @class = " form-control", required = "required" })
        </div>


        <div class=" form-control mt-3">
            @Html.LabelFor(m => m.fName)
            @Html.TextBoxFor(m => m.fName, new { @class = " form-control", required = "required" })
        </div>
        <div class=" form-control mt-3">
            @Html.LabelFor(m => m.fSalary)
            @Html.TextBoxFor(m => m.fSalary, new { @class = " form-control", required = "required" })
        </div>
        <div class=" form-control mt-3">
            <input type="submit" class=" btn btn-primary" value="儲存"   />
        </div>



    </div>

</form>